#Sample dotenv file
#rename from sample.env to .env
#replace the values with real values for your database
# and generate your own secret keys from random GUIDs
#
# IMPORTANT!!  .env files should NOT go into your git repo!
#  REMEMBER to add .env to your .gitignore file.
MONGODB_HOST=YourMongoDBClusterHere
MONGODB_USER=YourUsernameHere
MONGODB_PASSWORD=YourPasswordHere
MONGODB_DATABASE=YourMongoDBDatabaseHere
MONGODB_SESSION_SECRET=Some_Session_Key_Here1
NODE_SESSION_SECRET=Some_Session_Key_Here2